* {
    font-family: Arial, Helvetica, sans-serif
    font-size: 16px;
}

body {
    background-color: rgb(193, 128, 253);
}

main {
    background-color: white;
    width: 500px;
    margin: auto; // deixa no meio
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.473);
    padding: 10px;
}

img.lado {
    float: right;
}
